<!DOCTYPE HTML>
<!--
    Transitive by TEMPLATED

    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<html>
<head>
    <title>Generic - Transitive by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index.html">Transitive <span>by TEMPLATED</span></a></div>
        <a href="#menu" class="toggle"><span>Menu</span></a>
    </header>



    @RenderBody()



    <!-- Footer -->
    <footer id="footer" class="wrapper">
        <div class="inner">

            <div class="copyright">
                &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a> Video <a href="http://coverr.co/">Coverr</a>.
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>